@import "tailwindcss";
@plugin "daisyui";


/*
--------------------------------------------
------ Custom Programming Style Stuff ------
--------------------------------------------
*/

.surface{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
}